
body {
    background-color: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.movie-card {
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.movie-title {
    font-size: 16px;
    margin: 10px 0 5px 0;
    color: #fff;
}

.movie-release {
    font-size: 14px;
    color: #aaa;
}
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff3c3c;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

.back-button:hover {
    background-color: #e22b2b;
}